.artModal{
    width: 100%;
    height: 87%;

    :global{
        .am-modal-body{
            height: 70%;
        }
    }
}

.commentsHeader{
    margin-top:10px; 
}
.comment{
    margin-bottom: 20px;
}
.commentName{
    margin-bottom: 10px;

    :global{
        .am-tab-bar-item{
            text-align:left;
            color: #2d8eea
        }
    }
}
.commentContent{
    :global{
        .am-tab-bar-item{
            text-align:left;
        }
    }
}